In [64]:
import pandas as pd

### Reading Files

In [65]:
#dfe = dfe[0:0]
dfe = pd.read_excel(r"C:\Users\reshm\Documents\My Jupyter Repo\countyregion.xlsx", sheet_name = 'Sheet2')
dfe

             Country           Region
0      Åland Islands  Northern Europe
1            Albania  Southern Europe
2            Algeria  Northern Africa
3     American Samoa        Polynesia
4            Andorra  Southern Europe
..               ...              ...
279    North America         Americas
280    North America         Americas
281    North America         Americas
282    North America         Americas
283    North America         Americas

[284 rows x 2 columns]

In [66]:
#dfc = dfc[0:0]
dfc = pd.read_csv(r"C:\Users\reshm\Documents\My Jupyter Repo\countyregion.csv", sep = '\t')
dfc

             Country           Region
0            Algeria  Northern Africa
1              Egypt  Northern Africa
2              Libya  Northern Africa
3            Morocco  Northern Africa
4              Sudan  Northern Africa
..               ...              ...
190            Samoa  Pacific Islands
191  Solomon Islands  Pacific Islands
192            Tonga  Pacific Islands
193           Tuvalu  Pacific Islands
194          Vanuatu  Pacific Islands

[195 rows x 2 columns]

In [67]:
pd.set_option('display.max.rows', 10)

In [68]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  195 non-null    object
 1   Region   195 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [69]:
print(dfc.head(5))
print(dfc.tail(5))

   Country           Region
0  Algeria  Northern Africa
1    Egypt  Northern Africa
2    Libya  Northern Africa
3  Morocco  Northern Africa
4    Sudan  Northern Africa
             Country           Region
190            Samoa  Pacific Islands
191  Solomon Islands  Pacific Islands
192            Tonga  Pacific Islands
193           Tuvalu  Pacific Islands
194          Vanuatu  Pacific Islands

In [70]:
dfc['Region']

0      Northern Africa
1      Northern Africa
2      Northern Africa
3      Northern Africa
4      Northern Africa
            ...
190    Pacific Islands
191    Pacific Islands
192    Pacific Islands
193    Pacific Islands
194    Pacific Islands
Name: Region, Length: 195, dtype: object

In [71]:
dfc.loc[190]

Country              Samoa
Region     Pacific Islands
Name: 190, dtype: object

In [72]:
dfc.iloc[190]

Country              Samoa
Region     Pacific Islands
Name: 190, dtype: object

In [73]:
dfc[dfc['Region'] == 'South Asia']

         Country      Region
112  Afghanistan  South Asia
113   Bangladesh  South Asia
114       Bhutan  South Asia
115        India  South Asia
116     Maldives  South Asia
117        Nepal  South Asia
118     Pakistan  South Asia
119    Sri Lanka  South Asia

In [74]:
df_world = pd.read_csv(r"C:\Users\reshm\Documents\My Jupyter Repo\world_population.csv")
df_world

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

### Filtering, Sorting

In [75]:
df_world[df_world['Rank'] <= 10]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
131,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24

In [76]:
specific_countries = ['Bangladesh', 'Brazil']

df_world[df_world['Country/Territory'].isin(specific_countries)] #IN (List)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70

In [77]:
df_world[df_world['Country/Territory'].str.contains('United')] #ILIKE, LIKE string

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129,9287289,8916899,8481771,3275333,1900151,1014048,298084,83600,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936,67059474,65224364,62760039,58850043,57210442,56326328,55650166,242900,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465,100442,102803,106142,108185,100685,96640,63446,347,286.6427,0.9937,0.00

In [78]:
df2 = df_world.set_index('Country/Territory')
df2

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [79]:
df2.filter(items = ['Continent', 'CCA3'], axis = 1)

                  Continent CCA3
Country/Territory
Afghanistan            Asia  AFG
Albania              Europe  ALB
Algeria              Africa  DZA
American Samoa      Oceania  ASM
Andorra              Europe  AND
...                     ...  ...
Wallis and Futuna   Oceania  WLF
Western Sahara       Africa  ESH
Yemen                  Asia  YEM
Zambia               Africa  ZMB
Zimbabwe             Africa  ZWE

[234 rows x 2 columns]

In [80]:
df2.filter(items = ['Zimbabwe'], axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.2

In [91]:
df_world[df_world['Rank'] < 10].sort_values(by = ['Country/Territory','Continent'], ascending = [False,True])

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15

### Indexing

In [94]:
dfi = pd.read_csv(r"C:\Users\reshm\Documents\My Jupyter Repo\world_population.csv", index_col = "Country/Territory")

dfi

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [96]:
dfi.reset_index(inplace=True)
dfi

,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [98]:
dfi.set_index('Country/Territory', inplace = True)
dfi

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [99]:
dfi.loc['Albania']

Rank                               138
CCA3                               ALB
Capital                         Tirana
Continent                       Europe
2022 Population                2842321
                                ...
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: Albania, Length: 16, dtype: object

In [100]:
dfi.iloc[1]

Rank                               138
CCA3                               ALB
Capital                         Tirana
Continent                       Europe
2022 Population                2842321
                                ...
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: Albania, Length: 16, dtype: object

In [111]:
dfi.reset_index(inplace = True)

In [112]:
dfi.set_index(['Continent','Country/Territory'], inplace = True)

In [118]:
dfi.sort_index(ascending=[False,True])

                                 Rank CCA3       Capital  2022 Population  \
Continent     Country/Territory
South America Argentina            33  ARG  Buenos Aires         45510318
              Bolivia              80  BOL         Sucre         12224110
              Brazil                7  BRA      Brasilia        215313498
              Chile                65  CHL      Santiago         19603733
              Colombia             28  COL        Bogota         51874024
...                               ...  ...           ...              ...
Africa        Tunisia              79  TUN         Tunis         12356117
              Uganda               31  UGA       Kampala         47249585
              Western Sahara      172  ESH      El Aaiún           575986
              Zambia               63  ZMB        Lusaka         20017675
              Zimbabwe             74  ZWE        Harare         16320537

                                 2020 Population  2015 Population  \
Continent     Country/Territory
South America Argentina                 45036032         43257065
              Bolivia                   11936162         11090085
              Brazil                   213196304        205188205
              Chile                     19300315         17870124
              Colombia                  50930662         47119728
...                                          ...              ...
Africa        Tunisia                   12161723         11557779
              Uganda                    44404611         37477356
              Western Sahara              556048           491824
              Zambia                    18927715         16248230
              Zimbabwe                  15669666         14154937

                                 2010 Population  2000 Population  \
Continent     Country/Territory
South America Argentina                 41100123         37070774
              Bolivia                   10223270          8592656
              Brazil                   196353492        175873720
              Chile                     17004162         15351799
              Colombia                  44816108         39215135
...                                          ...              ...
Africa        Tunisia                   10895063          9893316
              Uganda                    32341728         24020697
              Western Sahara              413296           270375
              Zambia                    13792086          9891136
              Zimbabwe                  12839771         11834676

                                 1990 Population  1980 Population  \
Continent     Country/Territory
South America Argentina                 32637657         28024803
              Bolivia                    7096194          5736088
              Brazil                   150706446        122288383
              Chile                     13342868         11469828
              Colombia                  32601393         26176195
...                                          ...              ...
Africa        Tunisia                    8440023          6578156
              Uganda                    17586630         13284026
              Western Sahara              178529           116775
              Zambia                     7686401          5720438
              Zimbabwe                  10113893          7049926

                                 1970 Population  Area (km²)  \
Continent     Country/Territory
South America Argentina                 23842803     2780400
              Bolivia                    4585693     1098581
              Brazil                    96369875     8515767
              Chile                      9820481      756102
              Colombia                  20905254     1141748
...                                          ...         ...
Africa        Tunisia                    5047404      163610
              Uganda                    10317212      241550
              Western Sahara               76371      266000
              Zambia                     4281671      752612
              Zimbabwe                   5202918      390757

                                 Density (per km²)  Growth Rate  \
Continent     Country/Territory
South America Argentina                    16.3683       1.0052
              Bolivia                      11.1272       1.0120
              Brazil                       25.2841       1.0046
              Chile                        25.9274       1.0057
              Colombia                     45.4339       1.0069
...                                            ...          ...
Africa        Tunisia                      75.5218       1.0076
              Uganda                      195.6100       1.0304
              Western Sahara                2.1654       1.0184
              Zambia                       26.5976       1.0280
              Zimbabwe                     41.7665       1.0204

                                 World Population Percentage
Continent     Country/Territory
South America Argentina                                 0.57
              Bolivia                                   0.15
              Brazil                                    2.70
              Chile                                     0.25
              Colombia                                  0.65
...                                                      ...
Africa        Tunisia                                   0.15
              Uganda                                    0.59
              Western Sahara                            0.01
              Zambia                                    0.25
              Zimbabwe                                  0.20

[234 rows x 15 columns]

In [121]:
dfi.loc['Africa','Angola']

Rank                                 42
CCA3                                AGO
Capital                          Luanda
2022 Population                35588987
2020 Population                33428485
                                 ...
1970 Population                 6029700
Area (km²)                      1246700
Density (per km²)               28.5466
Growth Rate                      1.0315
World Population Percentage        0.45
Name: (Africa, Angola), Length: 15, dtype: object